<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>restaurant home page</title>
    <link rel="stylesheet" href="Cuisines.css">
</head>

<body>
   
    <div class="header"><a href="/home">Là Fleur</a></div>
    
    <ul class="navbar">
        <li class="navbar_list"><a href="/home">Home</a></li>
        <li class="navbar_list"><a href="/Cuisines">Cuisines</a></li>
        <li class="navbar_list"><a href="/Special">What's Special</a></li>
        <li class="navbar_list"><a href="/Contacts">Contacts</a></li>
    </ul>
    <div id="card_head"> Our appetizing dishes..</div>
    <ul class="cards_list">
        <li class="container_1">
            <div class="Card">
                <div class="inner_card">
                    <img src="Ratatouille.jpeg " width="300px" height="300px">
                    <div class="text-block">
                        <p>Ratatouille</p>
                    </div>
                </div>

                <div class="outer_card">
                    The beautiful ratatouille served up in the movie by the same name. Long and narrow vegetables work best.
                    Serve over a bed of brown rice, couscous, pasta or other starch, or with crusty bread.
                </div>
            </div>
        </li>

        <li class="container_1">
            <div class="Card">
                <div class="inner_card">
                    <img src="lasagna.jpg" width="300px" height="300px">
                    <div class="text-block">
                        <p>Lasagna</p>
                    </div>
                </div>

                <div class="outer_card">
                    Stacked layers of thin flat pasta alternating with fillings such as vegetables, cheese (which may include ricotta and parmesan), 
                    and seasonings and spices such as garlic, oregano and basil.
                </div>
            </div>
        </li>

        <li class="container_1">
            <div class="Card">
                <div class="inner_card">
                    <img src="potage.jfif" width="300px" height="300px">
                    <div class="text-block">
                        <p>Potage</p>
                    </div>
                </div>

                <div class="outer_card">
                    This French Potage is a blended vegetable soup that’s rich and savory and completely satisfying.
                    Cottage gardens in France contain a variety of crops that are grown together, which are called potage gardens. 
                </div>
            </div>
        </li>

        <li class="container_1">
            <div class="Card">
                <div class="inner_card">
                    <img src="Café liégeois.jfif" width="300px" height="300px">
                    <div class="text-block">
                        <p>Café liégeois</p>
                    </div>
                </div>

                <div class="outer_card">
                    Cold dessert made from lightly sweetened coffee, coffee flavoured ice cream and chantilly cream.
                    Often crushed roasted coffee beans are put on top of the chantilly as decoration.
                </div>
            </div>
        </li>

        <li class="container_1">
            <div class="Card">
                <div class="inner_card">
                    <img src="charlotte.jpg" width="300px" height="300px">
                    <div class="text-block">
                        <p>Charlotte Russe</p>
                      </div>
                </div>

                <div class="outer_card">
                    A charlotte is a type of dessert or trifle that can be served hot or cold. It is also referred to as an "icebox cake". Bread, sponge cake or biscuits/cookies are used to line a mold,
                    which is then filled with a fruit puree or custard
                </div>
            </div>
        </li>
        
        <li class="container_1">
            <div class="Card">
                <div class="inner_card">
                    <img src="Spaghetti.jfif" width="300px" height="300px">
                    <div class="text-block">
                        <p>Spaghetti</p>
                      </div>
                </div>
                
                <div class="outer_card">
                    Starchy pasta of Italian origin that is made in the form of long strings, boiled, 
                    and served with any of a variety of onion, spinach, tomato, or other sauces.
                </div>
            </div>
        </li>
    </ul>
</body>
</html>