<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant home page</title>
    <link rel="stylesheet" href="home.css">
</head>

<body>
    <div class="header"><a href="/home">Là Fleur</a></div>
    <ul class="navbar">
        <li class="navbar_list"><a href="/home">Home</a></li>
        <li class="navbar_list"><a href="/Cuisines">Cuisines</a></li>
        <li class="navbar_list"><a href="/Special">What's Special</a></li>
        <li class="navbar_list"><a href="/Contacts">Contacts</a></li>
    </ul>
    <div class="about">About</div>
    <div class="about_discription">
        Since 2008, the journey of la fleur started.
        We are known for our french décor, authentic French cuisine, and time honored recipes 
        giving a heart warming welcome.
        The atmosphere is filled with spices, ginge, garlic and more; giving a mouth watery feeling.
        We are proud to say that our restaurant is one of the cleanest restaurants in India and takes utmost 
        priority on the quality of the food.
        We are happy to say that our customers have given our restaurant great reviews and feedbacks.
        We are looking foward to serve you too.
    </div>
</body>
</html>