<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specials page</title>
    <link rel="stylesheet" href="Special.css">
</head>
<body>
    <div class="header"><a href="/home">Là Fleur</a></div>
    <ul class="navbar">
        <li class="navbar_list"><a href="/home">Home</a></li>
        <li class="navbar_list"><a href="/Cuisines">Cuisines</a></li>
        <li class="navbar_list"><a href="/Special">What's Special</a></li>
        <li class="navbar_list"><a href="/Contacts">Contacts</a></li>
    </ul>
    <div id="special_header">Overall Là Fleur has always been great with our foodie lovers but<br>
        there are dishes that has it reputaion from the start..<br>
        We recommend every customer to try these dishes :)
    </div>
    
    <ul class="cards_list">
        <li class="container_1">
            <div class="Card">
                <div class="inner_card">
                    <img src="ravioli.jfif" width="300px" height="300px">
                    <div class="text-block">
                        <p>Ravioli</p>
                    </div>
                </div>
                <div class="outer_card">
                    Ravioli is considered a dumpling, with filling sealed between two layers of thin pasta.
                    Ravioli is commonly served with a broth or sauce.
                    The sauce along with hand picked spices makes the dish mouth watering.
                </div>
            </div>
        </li>

        <li class="container_1">
            <div class="Card">
                <div class="inner_card">
                    <img src="barbeque.jpg" width="300px" height="300px">
                    <div class="text-block">
                        <p>Barbeque</p>
                    </div>
                </div>
                <div class="outer_card">
                    Drizzle the vegetables with olive oil and sprinkle evenly with salt and pepper.
                    The aroma of rich spices and using grillers to cook gave our customers a wholesome experience.
                </div>
            </div>
        </li>
    </ul>
</body>
</html>